<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" >
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href="/">Etnorozrabiaka</a></h2>
        <p>Człowiek, który psuć muzyki się nie boi</p>
      </hgroup>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      2024
    </footer>
  </body>
</html>
